<div class="divider-title">
   <h2><%= title %></h2>
   <span></span>
   <style>
      .divider-title {
         padding: 2rem 1rem;
         display: flex;
         align-items: center;
         gap: 1rem;

         h2 {
            width: fit-content;
         }

         span {
            height: 1px;
            flex: 1 0 auto;
            background-color: #020617;
         }
      }
   </style>
</div>
