<footer id="contact">
   <div>
      <%- include('./logo.ejs') %>
      <ul>
         <li><a href="/categories">Catalogo</a></li>
         <li><a href="#us">Nosotros</a></li>
         <li><a href="#contact">Contáctenos</a></li>
      </ul>
   </div>
   <form id="letsTalk">
      <label>
         Hablemos!
         <input
            type="email"
            name="email"
            placeholder="example@gmail.com"
            autocomplete="off"
         />
      </label>
   </form>
   <script>
      const form = document.querySelector('#letsTalk');

      form.addEventListener('submit', (e) => {
         e.preventDefault();
         const { email } = Object.fromEntries(new window.FormData(form));
         alert(`Algo haría con este email "${email}", pero no hoy :)`);
         form.reset()
      });
   </script>
</footer>
