<footer id="contact">
   <!-- <p>&copy; PIK</p> -->
   <div>
      <%- include('./logo.ejs') %>
      <ul>
         <li><a href="/categories">Catalogo</a></li>
         <li><a href="#us">Nosotros</a></li>
         <li><a href="#contact">Contáctenos</a></li>
      </ul>
   </div>
   <form>
      <label>
         Hablemos!
         <input type="email" name="email" placeholder="example@gmail.com" autocomplete="off">
      </label>
   </form>
</footer>
