<header>
   <nav>
      <%- include('./logo.ejs') %>
      <ul>
         <li class="categories">
            <a href="/categories">Catalogo</a>
            <ul>
               <li><a href="/consoles">Consolas</a></li>
               <li><a href="/laptops">Portátiles</a></li>
               <li><a href="/peripherals">Periféricos</a></li>
            </ul>
         </li>
         <li><a href="#us">Nosotros</a></li>
         <li><a href="#contact">Contáctenos</a></li>
      </ul>
   </nav>
</header>
