<div class="product-card">
   <img src="<%= image %>" alt="">
   <div class="product-info">
      <h3 class="title"><%= name %></h3>
      <p class="description"><%= description %></p>
      <strong class="price">$ <%= price %></strong>
   </div>
</div>