@import 'base.css';

main {
   display: flex;
   flex-direction: column;
   margin-bottom: 2rem;

   .divider-title {
      padding-top: 1rem;
      padding-inline: 0;
   }
}

.card-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
   gap: 1rem;

   .card {
      border-radius: 2rem;
      box-shadow: #4755693a 0px 8px 24px;
      display: flex;
      flex-direction: column;
      overflow: clip;
      padding: 2rem;
      transition: transform 0.2s ease;

      &:hover footer a {
         outline: 2px solid #020617;
         outline-offset: 1.5px;
      }

      .tumb {
         width: 100%;
         display: flex;
         justify-content: center;
         overflow: clip;

         img {
            object-fit: contain;
            width: 80%;
            aspect-ratio: 4/3;
            transition: transform 0.3s ease;
         }
      }

      .details {
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         .catagory {
            color: #020617;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
         }

         h3 {
            color: #020617;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.3s;
            cursor: pointer;
            font-weight: bold;
            font-size: medium;
         }

         p {
            color: #020617;
            margin-block: 0.5rem 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
         }
      }

      footer {
         display: flex;
         align-items: center;
         justify-content: space-between;

         a {
            align-items: center;
            background-color: #020617;
            border-radius: 5rem;
            border: none;
            color: white;
            display: flex;
            font-size: small;
            font-weight: 600;
            gap: 0.5rem;
            justify-content: space-between;
            outline-offset: 1.5px;
            outline: 2px solid transparent;
            padding: 0.5rem 1.2rem;
            text-decoration: none;
            transition: all 0.3s ease;

            p {
               margin: 0;
            }

            svg {
               height: 1.5rem;
               padding: 2px;
               transition: all .3s ease;
            }
            
            &:hover svg{
               padding: 5px;
               background-color: white;
               color: #020617;
               border-radius: 5rem;
               transform: translateX(6px);
            }
         }

         .price {
            color: #020617;
            font-size: x-large;
            font-weight: 600;
         }
      }
   }
}
